/* Colors */

$main-blue: #029eeb;
$light-grayish-blue: #daecfb;
$vivid-blue: #1baff8;
$white: #ffffff;
$light-gray: #c0c0c0;
$very-pale-blue: #f1f9ff;
$very-dark-blue: #010849;
$light-orange: #ff8935;
$very-dark-violet: #200e32;
$dark-violet: #2a1946;

